.Intro {
    position: relative;
    padding: 110px 0px 120px;
    width: 100%;
    background: rgb(85,25,147);
    background: linear-gradient(0deg, rgba(85,25,147,1) 10%, rgba(21,19,73,1) 87%);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.IntroTitle {
    font-size: 64px;
    color: white;
    line-height: 82px;
    word-spacing: 3px;
    padding: 0 30px;
}
